*.ignore
ignore.*
*.ignore.*
**/lazy-lock.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Init files
**/__init__.py

# Neovim spell files
*.spl
*.sug
**/*.log
**/Session.vim


# Dirs
.config/yazi/plugins
.config/tmux/plugins
.config/lazygit/config.yml

**/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml
