[submodule ".password-store"]
	path = .password-store
	url = git@github.com:AlexONEX/.password-store.git
[submodule "shared/opencode-config/ponytail"]
	path = shared/opencode-config/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "external/mattpocock-skills"]
	path = external/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
