[branch]
  sort = -committerdate
	autoSetupMerge = always
  autoSetupRebase = always
[commit]
  verbose= true
  cleanup = scissors
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
	excludesFile = ~/.gitignore
[diff]
  algorithm = histogram
  submodule = log
  tool =  nvimdiff
  context = 10
[fetch]
  prune = true
  fsckobjects = true
  prunetags = true
[gpg]
	format = ssh
[init]
  defaultBranch = main
[log]
  date = iso
[merge]
  conflictStyle = diff3
  keepbackup = false
  tool =  nvimdiff
[user]
	email = 22077128+AlexONEX@users.noreply.github.com
	name = AlexONEX
	signingkey = /home/mars/.ssh/id_ed25519.pub
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[push]
	autoSetupRemote = true
	default = current
[receive]
  fsckObjects = true
[submodule]
  recurse = true
[status]
  short = true
  submoduleSummary = true
[tag]
  sort = -committerdate
[transfer]
  fsckobjects = true
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
