# Ignore a file by renaming it with ignore its name
*.ignore
ignore.*
*.ignore.*
lazy-lock.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Init files
**/__init__.py

# Neovim spell files
*.spl
*.sug
